body{
        background-color: lightblue;
}
h1{
        background-color: aqua;
}
p{
        background-color: whitesmoke;
}
#pTag
{
    text-align: center;
    color: red;
    background-color: white;
}
.pClass
{
    text-align: right;
    color: purple;
    
}
table.pClass
{
    text-align: start;
    color: crimson;
}
* {
    padding: 3px;
    margin: 5px;
}
h2,h3,p{
    text-align: center;
    color: darkgoldenrod;
}
#didSectionProperties
{
    margin: 15px;
    padding: 5px;
    background-color: darkslategrey;
    height: 120%;
    /* border: 5px solid black; */
    border-width: 5px;
    border-color: red;
    border-style: solid;
    /* background-image:url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: red ;
    border-radius: 20px;
    /*margin-left: 20px; */
    /* margin-right: 20px; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin: 20px 20px 20px 20px;
    /* padding: 10px; */
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    /* padding: 10px 10px 10px 10px; */
}