body{
        background-color: lightblue;
}
h1{
        background-color: aqua;
}
p{
        background-color: whitesmoke;
}
#pTag
{
    text-align: center;
    color: red;
    background-color: white;
}
.pClass
{
    text-align: right;
    color: purple;
    
}
table.pClass
{
    text-align: start;
    color: crimson;
}
* {
    padding: 3px;
    margin: 5px;
}
h2,h3,p{
    text-align: center;
    color: darkgoldenrod;
}
#didSectionProperties
{
    margin: 15px;
    padding: 5px;
    background-color: darkslategrey;
    height: 120%;
    /* border: 5px solid black; */
    border-width: 5px;
    border-color: black;
    border-style: solid;
}